body {
    display: grid;
    /* grid-template-columns:repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr); */
    grid-template-columns: 1fr;
    grid-template-rows:  1fr  2fr 3fr 1fr  1fr ;
    grid-template-areas: 
    "header"
    "main"
    "aside"
    "footer";
    padding: 1em;
    gap: 10px;
}

header {
    grid-area: header;
    /* grid-row: 1;
    grid-column: 1; */
    /* grid-column: 1/3; */
}

main {
    grid-area: main;
    /* added Flex in grid */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; */
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;

}

body > * {
    border: 5px solid lightgreen;
    padding: 5px;
}