body{
    font-family: Arial, Helvetica, sans-serif;
}

#element,#displaySpan,#coordinateSpan,#editablecontent
{
    border: 1px solid cornsilk;
    padding: 10px;
    margin-top: 5px;
    display: inline-block;
}

h1:hover{
    cursor: pointer;
}