p{
    font-size: 1.75rem;
    margin: 1.5rem;
    padding: 1rem;
    border: 2px solid black;
}

#para {
    background-color: lightblue;
}

#box{
    /* position:   sticky; */
    /* position:   relative; */
    position:   absolute; 
    /* position:   fixed; */
    /* position: static; */
    top: 30px;
    bottom: 70px;
    left: 10px;
    height: 10rem;
    width: 15rem;
    border: 2px solid black;
    background-color: lightsalmon;
}

#long {
    background-color: lightseagreen;
}